body {
	width: 100%;
	margin: 0;
	padding: 0;
}

nav {
	position: fixed;
	width: 100%;
	top: 0px;
	background-color: #668cff;
	padding: 4px;
	z-index: 1;
}

nav a {
	text-decoration: none;
	color: white;
	font-family: 'Fjalla One', sans-serif;
}

nav li {
	list-style: none;
	display: inline-block;
	margin: 2px;
	padding: 4px;
}
@media only screen and (max-width: 667px) {
	nav ul {
		padding: 8px;
		margin: 8px;
	}
}

.nav-name {
	float: right;
	margin-right: 40px;
}
@media only screen and (max-width: 667px) {
	.nav-name {
		margin-right: 0px;
	}
}

footer {
	display: block;
	background-color: #668cff;
	padding: 4px;
	color: white;
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.2em;
}

h1, h2 {
	font-family: 'Fjalla One', sans-serif;
}


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
	float: left;
  width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 1130px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


/********************PAGE BODY STYLES*****************/
.page-body {
	margin: 75px 160px;
}
@media only screen and (max-width: 667px) {
	.page-body {
		margin: 30px;
	}
}

.button-div {
	margin: 80px 0px 80px 0px;
}

.clickme, .clickme2 {
	background-color: #668cff;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 40px;
	width: 350px;
	height: 100px;
	border-radius: 25px;
	border: 2px solid #3333ff;
	color: white;
}
.newButton {
	background-color: #3333ff;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 40px;
	width: 350px;
	height: 100px;
	border-radius: 25px;
	border: 2px solid #668cff;
}


/****TOP HEADER STYLES****/

#project-instructions {
	text-align: center;
	margin: 15px 0px 0px 0px;
}

#header{
	background-image: url("images/index-background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: auto;
	padding: 50px;
	margin-top: 70px;
	text-align: center;
	font-size: 1.5em;
	color: white;
}
@media only screen and (max-width: 667px) {
	#header {
		font-size: 1em;
	}
}


#beergoblin-header, #yoga-header, #wubbaduckies-header, #blp-header, #nypp-header {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: auto;
	padding: 50px;
	margin-top: 70px;
	text-align: center;
	font-size: 1.5em;
	color: white;
	text-shadow: 4px 6px 0 black;
}
@media only screen and (max-width: 667px) {
	#beergoblin-header, #yoga-header, #wubbaduckies-header, #blp-header, #nypp-header {
		font-size: 1.5em;
	}
}

#nypp-header {
	background-image: url("images/nypp1.png");
}

#beergoblin-header {
	background-image: url("images/beerlogo10.jpg");
}

#yoga-header {
	background-image: url("images/gallery2.jpg");
}

#wubbaduckies-header {
	background-image: url("images/rubber3.jpg");
}

#blp-header {
	background-image: url("images/pencils1.jpg");
}


#contact-header {
	background-image: url("images/nyc2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: auto;
	padding: 50px;
	margin-top: 70px;
	text-align: center;
	font-size: 1.5em;
	color: white;
	text-shadow: 4px 6px 0 black;
}
@media only screen and (max-width: 667px) {
	#contact-header {
		font-size: 1.5em;
	}
}




/****ABOUT SECTION STYLES****/

#about-head {
	padding-right: 30px;
}
@media only screen and (width: 375px) {
	#about-head {
		padding: 0px;
	}
}

#about-image {
	padding-left: 40px;
	text-align: center;
}
@media only screen and (width: 375px) {
	#about-image {
		padding: 0px;
	}
}

#about-image img {
	margin-top: 15px;
	width: 100%;
	height: auto;
	border-radius: 50%;
}

#more-links  {
	text-align: center;
}

.fa {
	font-size:36px;
	color: #668cff;
}
.fa:hover {
	color: black;
}



/****************ALL PROJECT PAGE STYLES****************/
.site-buttons {
	background-color: #668cff;
	width:127px;
	height:38px;
	margin: 20px 0px 20px;
	cursor:pointer;
}
.site-buttons:hover {
	background-color: green;
}

.site-buttons a{
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: white;
}

#logo-image img  {
	margin: 0 auto;
}

#main-page-img img {
	width: 100%;
	height: auto;
	border-style: solid;
	border-color: black;
	border-width: 20px;
}

#main-side-info p {
	margin: 0px 30px;
}
@media only screen and (max-width: 667px){
	#main-side-info p {
		margin: 20px 0px;
	}
}


/******************CONTACT PAGE STYLES*********************/

#contact-row {
	margin-bottom: 120px;
}

#contact-map {
	padding-left: 60px;
}
@media only screen and (max-width: 1130px) {
	#contact-map {
		padding-left: 2px;
	}
}

#contact-map iframe {
	width: 100%;
	height: auto;
	border-radius: 20%; 
}


